$primary: #838383;
$secondary: #7b35c8;
$gradient: linear-gradient(75deg,#0098ff 0%,#7b35c8 100%);

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    borderColor: #cccccc,
    blueColor: #0098ff,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$custom-font-sizes: (
    10: 10px,
    11: 11px,
    12: 12px,
    13: 13px,
    14: 14px,
    15: 15px,
    18: 18px,
    20: 20px,
    22: 22px,
    26: 26px,
    28: 28px,
    32: 32px,
    40: 40px,
    65: 65px,
);
$font-sizes: map-merge($custom-font-sizes, $font-sizes);

$custom-spacers: (
    7: 7px,
    8: 8px,
    10: 10px,
    12: 12px,
    13: 13px,
    15: 15px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    60: 60px,
    63: 63px,
    70: 70px,
    96: 96px,
);
$spacers: map-merge($map1: $custom-spacers, $map2: $spacers);
@import '../node_modules/bootstrap/scss/variables-dark';
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/utilities';

$utilities: (
    "rounded-box": (
        property: border-top-right-radius border-bottom-left-radius,
        class: rounded-box,
        values: (
            10: 10px,
            20: 20px,
            30: 30px
        )
    )
 );


@import '../node_modules/bootstrap/scss/bootstrap.scss';